<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>

  <!-- external CSS link -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Dancing+Script:wght@400;600&family=Roboto+Serif:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Weather!</h1> 
    </header>
    <div class="submitPlace">
      <span>Enter City, State, or Region</span>
      <input type="text" id="cityName" placeholder="Enter Location">
      <button class="submit">Submit</button>
    </div>
    <h2></h2>
    <div id="weather-info"></div>

    <footer>
      <h3>Check out the <a href="https://www.weatherapi.com/">API</a> used to make this app!</h3>
    </footer>

  <script>
    const apiKey = '<%= apiKey %>';
  </script>
  <script src="js/main.js"></script>
</body>
</html>
